<div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/horarios">Horario</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/personas">Personas</a>
                    {{!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Grupos</a> --}}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/materias">Materias</a>
                    {{!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Clases</a> --}}
                </div>