<h2> Formulario de Personas </h2>
<form id="person_create_form">

  <div class="row">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre(s)" length="255" required />
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="lastname">Apellido</label>
      <input type="text" class="form-control" id="lastname" placeholder="Apellido(s)" length="255" />
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="phone">Telefono</label>
      <input type="text" class="form-control" id="phone" placeholder="Telefono" length="100" />
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="address">Direccion</label>
      <input type="text" class="form-control" id="address" placeholder="Direccion" length="255" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

      <div class="form-group">
        <select class="form-control col-sm-6" id="subjects" onchange="">
          <option selected>Materia que imparte</option>
          <option value="1">mat 1</option>
          <option value="2">mat 2</option>
          <option value="3">mat 3</option>
        </select>
      </div>
    </div>
  </div>


  <div class="form-group">
    <label for="">Listado de Materias</label>
    <ul class="list-group" id="subjectGroup">
      <li class="list-group-item">mat1</li>
      <li class="list-group-item">mat2</li>
      <li class="list-group-item">mat3</li>
      <li class="list-group-item">mat4</li>
      <li class="list-group-item">mat5</li>
    </ul>
  </div>


  <button type="submit" class="btn btn-primary">Crear Persona</button>
</form>