
<h2> Personas </h2>
<a href="/personas/crear" class="btn btn-primary" >Crear Persona</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>nombre apellido</td>
      <td>6684 838281</td>
      <td>calle del nopal #23 ejido 20 de noviembre</td>
      <td>
        <a href="/materias/editar">editar</a>
        <a href="#" id="" >eliminar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>nombre apellido</td>
      <td>6684 838281</td>
      <td>calle del nopal #23 ejido 20 de noviembre</td>
      <td>
        <a href="/materias/editar">editar</a>
        <a href="#" id="" >eliminar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>nombre apellido</td>
      <td>6684 838281</td>
      <td>calle del nopal #23 ejido 20 de noviembre</td>
      <td>
        <a href="/materias/editar">editar</a>
        <a href="#" id="" >eliminar</a>
      </td>
    </tr>
  </tbody>
</table>