
<h2> Horarios </h2>
<a href="/horarios/crear" class="btn btn-primary" >Nuevo Horario</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">descripcion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>horario 1B 2022</td>
      <td>este horario es solo un ejemplo para el grupo de 1B</td>
      <td>
        <a href="/materias/copiar">copiar</a>
        <a href="/materias/editar">editar</a>
        <a href="#" id="" >eliminar</a>
      </td>
    </tr>
     <tr>
      <th scope="row">1</th>
      <td>horario 1B 2022</td>
      <td>este horario es solo un ejemplo para el grupo de 1B</td>
      <td>
        <a href="/materias/copiar">copiar</a>
        <a href="/materias/editar">editar</a>
        <a href="#" id="" >eliminar</a>
      </td>
    </tr>
     <tr>
      <th scope="row">1</th>
      <td>horario 1B 2022</td>
      <td>este horario es solo un ejemplo para el grupo de 1B</td>
      <td>
        <a href="/materias/copiar">copiar</a>
        <a href="/materias/editar">editar</a>
        <a href="#" id="" >eliminar</a>
      </td>
    </tr>
  </tbody>
</table>