<h2> Formulario de Horario </h2>
<form id="subject_create_form">

<input type="hidden" value="{{schedule_id}}" class="form-control" id="name" placeholder="Nombre(s)" length="255" required />
  <div class="row">
    <div class="form-group">
      <label for="name">Nombre del horario</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre(s)" length="255" required />
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="description">Descripcion</label>
      <input type="text" class="form-control" id="description" placeholder="Descripcion" length="255" />
    </div>
  </div>
   <div class="row">
    <div class="col-sm-3">

      <div class="form-group">
        <label for="description">Grado</label>
        <select class="form-control col-sm-6" id="subjects" onchange="">
          <option selected></option>
          <option value="1A">1A</option>
          <option value="1B">1B</option>
          <option value="1C">1C</option>
          <option value="1D">1D</option>
          <option value="1E">1E</option>
          <option value="1F">1F</option>

          <option value="2A">2A</option>
          <option value="2B">2B</option>
          <option value="2C">2C</option>
          <option value="2D">2D</option>
          <option value="2E">2E</option>
          <option value="2F">2F</option>

          <option value="3A">3A</option>
          <option value="3B">3B</option>
          <option value="3C">3C</option>
          <option value="3D">3D</option>
          <option value="3E">3E</option>
          <option value="3F">3F</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miercoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
    </tr>
  </thead>
  <tbody id="tbody" >
    
  </tbody>
</table>
  </div>

  <button type="submit" class="btn btn-primary">Crear Horario</button>
</form>
<script type="text/javascript" >

jQuery(document).ready(function(){

console.log("ready")

createTable();
});

  function createTable()
  {
    const cols = 6;
    const rows = 7;
    let tableCntnt = "";

    for( let i = 1; i <= rows ; i++ )
    {
      tableCntnt += "<tr>";

      for( let j = 1; j <= cols ; j++ )
      {
        const nm = getCellDay(i)+getCellHour(j);
         tableCntnt += `<td id='${nm}' onclick=''  > </td>`;
          {{!-- tableCntnt += ""; --}}
      }

      tableCntnt += "</tr>";
    }

    $("#tbody").html( tableCntnt );

  }

function getCellDay(col)
{
  console.log("comming col: ", col)
  let name = "";
  
  switch( col )
  {
    case 1: name ="Lun" 
    break;
    case 2: name ="Mar"
    break;
    case 3: name ="Mie"
    break;
    case 4: name ="Jue"
    break;
    case 5: name ="Vie"
    break;
    case 0: name =""
    break;
  }

 return name;

}

 function getCellHour( row )
  {
    let name="";
    switch( row )
    {
      case 1: name ="1"
      break;
      case 2: name ="2"
      break;
      case 3: name ="3"
      break;
      case 4: name ="4"
      break;
      case 5: name ="5"
      break;
      case 6: name ="6"
      break;
      case 7: name ="7"
      break;
    }
    return name;
  }


</script>