
<h2> Materias </h2>
<a href="/materias/crear" class="btn btn-primary" >Crear Materia</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>nombre</td>
      <td>desc</td>
      <td>
        <a href="/materias/editar">editar</a>
        <a href="#" id="" >eliminar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>nombre</td>
      <td>desc</td>
      <td>
        <a href="#">editar</a>
        <a href="#">eliminar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>nombre</td>
      <td>desc</td>
      <td>
        <a href="#">editar</a>
        <a href="#">eliminar</a>
      </td>
    </tr>
  </tbody>
</table>