<h2> Formulario de Materias </h2>
<form id="subject_create_form">

  <div class="row">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre(s)" length="255" required />
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="description">Descripcion</label>
      <input type="text" class="form-control" id="description" placeholder="Descripcion" length="255" />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Crear Materia</button>
</form>