<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tilered</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    {{!-- <link type='text/css' href="/css/styles.css" rel="stylesheet" /> --}}
     
    <link type='text/css' href="/css/bootstrap.min.css" rel="stylesheet" />
    <link type='text/css' href="/css/main.css" rel="stylesheet" />
    <link type='text/css' href="/css/custom-fonts.css" rel="stylesheet" />
    <link type='text/css' href="/css/font-awesome.css" rel="stylesheet" />
    {{!-- <link type='text/css' href="/css/overwrite.css" rel="stylesheet" /> --}}
    {{!-- <link type='text/css' href="/css/theme.css" rel="stylesheet" /> --}}
    {{!-- <link type='text/css' href='/css/simplemodal.css' rel='stylesheet' media='screen' /> --}}
</head>

<body data-bs-theme="dark">

    <div class="container-fluid">
        <div class="row">
            {{> bitless_header}}
        </div>
        <div class="row" >
            <div class="sidebar-heading border-bottom" style="margin-bottom:4px; margin-top:4px;">
            Map <input type="number" id="cvWidth" value="640" style="width: 6em" onchange="setCanvasWidth(this.value)" /> x
                <input type="number" id="cvHeight" value="360" style="width: 6em" onchange="setCanvasHeight(this.value)" />
                <input id="upload-files" style="display:none;" type="file" name="upload-files[]" multiple />
                <button type="button" class="btn bg-primary" onclick="triggerUploadImgs()">Add Tileset(s)</button>
                <button type="button" class="btn btn-warning" onclick="addLayer()">Add Layer</button>
                <button type="button" class="btn bg-success " onclick="addArea()">Add Area</button>
                <button type="button"  data-placement="top" title="Download project" class="btn btn-danger" style="float:right;" onclick="downloadProject()"><i class="bi-download" style="font-size: 1rem; "></i></button>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Load project" class="btn btn-warning" style="float:right;" onclick="loadProject()"> <i class="bi-cloud-upload-fill" style="font-size: 1rem; "> </i></button>
            </div>
        </div>
        <div class="row" data-bs-theme="dark" >
            <div class="sidebar-heading border-bottom ">

                Background
                <select onchange="changeBg(this.value)">
                    <option value="pattern">pattern</option>
                    <option value="gray">gray</option>
                    <option value="white">white</option>
                    <option value="black">black</option>
                </select>

                Grid Color
                <input id="gridColor" type="color" value="#ff0000" onchange="setGridColor()" style="height:20px;" />

                Scale
                <select onchange="scaleCanvas(this.value)" id="scaleSel">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                Grid 
                <!--input type="checkbox" id="showGrid" checked onchange="changeGridVisibility()" / -->
            <label class="btn bg-primary" data-toggle="tooltip" data-placement="top" title="Change grid visibility" id="showGrid" onclick="changeGridVisibility()" ><i class="bi-eye-fill" style="font-size: 1rem; "></i></label>
            <label data-toggle="tooltip" data-placement="top" title="Brush(B key)" class="btn btn-warning" id="paintBtn" onclick="setPainting(true)" ><i class="bi-pencil-square" style="font-size: 1rem; "></i></label>
            <label data-toggle="tooltip" data-placement="top" title="Eraser(E key)" class="btn bg-secondary" id="eraserBtn" onclick="setPainting(false)" >  <i class="bi-eraser" style="font-size: 1rem; "></i> </label>
            <label data-toggle="tooltip" data-placement="top" title="Reset(R key)" class="btn bg-info"  onclick="resetLayer()" > <i class="bi-repeat" style="font-size: 1rem; "></i> </label>

            </div>
        </div>
        <div class="row">
            <div class="col-9" style="overflow: auto; min-height:600px;">
                <br />
                <canvas id="canvas" width="640" height="360" onkeyup="canvasKeyUp(e)" ></canvas>

            </div>
            <div class="col-3" style="overflow: auto; min-height:600px;">
                <div class="row">
                    <div style="margin-top:2px;">
                     
                        Grid Color
                        <input id="tsGridColor" type="color" value="#ff0000" onchange="setTsGridColor()" style="height:16px;" />

                        Scale x <label id="tilesetScaleLabel">1</label>
                        <label data-toggle="tooltip" data-placement="top" title="Change tileset grid visibility" class="btn btn-primary" id="showTilesetGrid" onclick="changeTilesetGridVisibility()" ><i class="bi-eye-fill" style="font-size: 1rem; "></i></label>


                    </div>
                </div>
                <div>

                    <p>Tileset Selected:</p>
                    <div style="border-bottom: 1px solid #ccc;">
                        <input type="hidden" id="tilesetSelected" value="0" />
                        <input type="hidden" id="layerSelected" value="1" />
                        <div style="margin: 10px 10px 10px 10px; max-height:200px; overflow:auto;">
                            <canvas id="tilesetCanvas" width="128" height="128"></canvas>
                        </div>

                    </div>

                    <p>Tileset List:</p>
                    <div style="border-bottom: 1px solid #ccc;">

                        <div style="max-height:180px; height:180px; overflow:auto;">
                            <ul id="tilesetList" class="list-group list-group-flush" style="margin:0px;">
                            </ul>
                        </div>

                    </div>

                    <p>Layers:</p>
                    <div style="border-bottom: 1px solid #ccc;">
                        <div style=" max-height:180px; height:180px; overflow:auto; ">
                            <ul id="layerList" class="list-group list-group-flush" style="margin:0px;">
                            </ul>
                        </div>
                    </div>
                    

                    <p>Areas:</p>
                    <div style=" max-height:200px; overflow:auto;">
                        <ul id="areaList" class="list-group list-group-flush" style="margin:0px;">
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>


{{!-- NEW MODAL --}}
<div class="modal fade" id="layerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Layer Settings</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{!-- <button type="button" class="btn bg-danger" style="float:right;" onclick="closeLayerModal()">X</button> --}}
            <button type="button" class="btn bg-primary" style="float:right;" onclick="removeLayer()" data-bs-dismiss="modal" >
                <i class="bi-trash-fill" alt="remove layer" ></i></button>

            <h4>layer Settings</h4>
            <!-- div style=" max-height:200px; height:124px; border-bottom: 1px solid #ccc;" -->
            <div class="mb-3">
                <div class="col-md-12">
                    <label for="exampleFormControlInput1" class="form-label">Layer Name</label>
                    <input type="text" class="form-control" id="modal_layerName" value=""
                        onchange="setLayerName(this.value)" />
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-6">
                    <span class="input-group-text">Grid Width</span>
                    <input class="form-control form-control-sm" type="number" value="" id="modal_layer_gw"
                        onchange="setLayerGridW(this.value)" />
                </div>
                <div class="col-md-6">
                    <span class="input-group-text">Grid Height</span>
                    <input class="form-control form-control-sm" type="number" value="" id="modal_layer_gh"
                        onchange="setLayerGridH(this.value)" />
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-6">
                    <label for="layerOpacity" class="form-label" id="opacityLabel">Opacity: 1</label>
                    <input type="range" class="form-range" id="layerOpacity" min="0" max="1" step="0.1" value="1" onchange="setLayerOpacity(this.value)" />
                </div>
                <div class="col-md-6">
                    <input type="hidden" id="layerIdx" value="-1" />
                    <buttom class="btn bg-primary" id="layerUpBtn" onclick="moveLayer('up')">Move Up</buttom>
                    <buttom class="btn bg-primary" id="layerDownBtn" onclick="moveLayer('down')">Move Down</buttom>
                </div>
            </div>
      </div>

    </div>
  </div>
</div>


    <!-- TILESET MODAL-->
    <div class="modal fade" id="tilesetModal" tabindex="-1" aria-labelledby="tilesetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tilesetModalLabel">Tileset Settings</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn bg-primary" style="float:right;" onclick="removeTileset()" data-bs-dismiss="modal">
                <i class="bi-trash-fill" ></i></button>

            <div class="mb-3">
                <div class="col-md-12">
                    <label class="form-label">Tileset Name</label>
                    <input type="text" class="form-control" id="modal_tilesetName" value=""
                        onchange="setTilesetName(this.value)" />
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="col-md-6">
                    <span class="input-group-text">Grid Width</span>
                    <input class="form-control form-control-sm" type="number" value="" id="modal_tileset_gw"
                        onchange="setTilesetGridW(this.value)" />
                </div>
                <div class="col-md-6">
                    <span class="input-group-text">Grid Height</span>
                    <input class="form-control form-control-sm" type="number" value="" id="modal_tileset_gh"
                        onchange="setTilesetGridH(this.value)" />
                </div>
            </div>
      </div>

    </div>
  </div>
</div>

    <!-- AREAS MODAL-->
    <div class="modal fade" id="areaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Area Settings</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <button type="button" class="btn bg-primary" style="float:right;" onclick="removeArea()" data-bs-dismiss="modal">
                <i class="bi-trash-fill" ></i></button>

            <div class="input-group mb-3">
                
                <div class="col-md-6">
                    <div class="">
                    <input type="text" class="form-control" id="modal_areaLabel" value=""
                        onchange="" placeholder="label"/>

                    
                    </div>
                </div>
                 <div class="col-md-6">
                    <span class="input-group-text">Color:</span>
                    <input type="color" class="form-control" id="modal_area_color" value=""
                        placeholder="label"/> 
                </div>

            </div>
            <div class="input-group mb-3">
                <div class="col-md-6">
                    <span class="input-group-text">X:</span>
                    <input class="form-control form-control-sm" type="number" value="" id="modal_area_x"
                        onchange="" />

                    <span class="input-group-text">Y:</span>
                    <input class="form-control form-control-sm" type="number" value="" id="modal_area_y"
                        onchange="" />
                </div>
                <div class="col-md-6">
                    <span class="input-group-text">Width:</span>
                    <input class="form-control form-control-sm" type="number" value="" id="modal_area_w"
                        onchange="" />
                    <span class="input-group-text">Height</span>
                    <input class="form-control form-control-sm" type="number" value="" id="modal_area_h"
                        onchange="" />    
                </div>
            </div>

            <button type="button" class="btn bg-primary" style="float:right;" onclick="updateAreaData()">Update</button>

      </div>

    </div>
  </div>
</div>


    <!-- Bootstrap core JS-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- filesaver have saveAs() method, is used by jszip-->
    <script src="/js/bootstrap.min.js"></script>
     {{!-- <script src="/js/jquery.min.js"></script> --}}
    <script src="/js/filesaver.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    {{!-- <script type='text/javascript' src='/js/jquery.simplemodal.js'></script> --}}
    <script src="/js/tilered.js"></script>

</body>

</html>