
#basic-modal-content {
    display: none;
}

/* Overlay */
#simplemodal-overlay {
    background-color: #000;
}

/* Container */
#simplemodal-container {
    height: 300px;
    width: 600px;
    color: #000;
    background-color: #ccc;
    border: 4px solid #FFF;
    padding: 12px;
}

#simplemodal-container .simplemodal-data {
    padding: 8px;
}

#simplemodal-container code {
    background: #141414;
    border-left: 3px solid #65B43D;
    color: #000;
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
    padding: 4px 6px 6px;
}

#simplemodal-container a {
    color: #000;
}

#simplemodal-container a.modalCloseImg {
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -16px;
    cursor: pointer;
}

#simplemodal-container h3 {
    color: #000;
}