<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Sailor - Bootstrap 3 corporate template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Bootstrap 3 template for corporate business" />
<meta name="author" content="http://iweb-studio.com" />
<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/cubeportfolio.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />


<!-- Theme skin -->
<link id="t-colors" href="skins/default.css" rel="stylesheet" />

	<!-- boxed bg -->
	<link id="bodybg" href="bodybg/bg1.css" rel="stylesheet" type="text/css" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>


<div id="wrapper">
	<!-- start header -->
	{{> site_header}}
	<!-- end header -->
	<section id="content">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	
		<form role="form" class="access-form" id="access-form">
			<h2>Acceso<small> solo personal autorizado</small></h2>
			{{!-- <hr class="colorgraph"> --}}
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group">
                        <input type="email"  
						name="email" id="email" class="form-control input-md" placeholder="Email" tabindex="1" required />
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group">
                        <input type="password" name="pass" id="pass" class="form-control input-md" placeholder="1234" tabindex="2" required minlength ="4" />
					</div>
				</div>
				
			</div>
			
			{{!-- <hr class="colorgraph"> --}}
			<div class="row">
				<div class="col-xs-12 col-md-4"><input style="background:#d9232d" type="submit" value="Acceder" class="btn btn-theme btn-block btn-md" tabindex="3"></div>
				<div class="col-xs-12 col-md-8">* Ingresa tu email y contrasena!</div>
			</div>
		</form>

			</div>
		</div>
	</div>
	</section>
	{{> site_footer}}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{> site_scripts}}

<script>
$(document).ready(function(){
{{!-- pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" --}}
	$("#access-form").submit( function(e){
		e.preventDefault();

		//validate, if true send ajax request

		console.log("sbmitting quote form")
		var f = $(this);
		console.log(f.children)

		const entity={
			email:$("#email").val(),
			pass:$("#pass").val(),
		}

		$.post(
			"/access",
			entity,
			function(resp){
				if(resp.msg)
				{
					//setting token
					window.location.href="/admin/dashboard"
				}
			}
		);

	});

});

</script>

	
</body>
</html>