<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/adm/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/adm/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/adm/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/adm/css/style.css" <!-- End layout styles -->
    <link rel="shortcut icon" href="/adm/img/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {{> adm_navbar}}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        {{> adm_sidebar}}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">


            <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Formulario de Servicios</h4>
                    <form class="form-sample" id="service-form" >
                      <input type="hidden" value="ADD" id="form-type" />
                      <p class="card-description"> Agrega un Nuevo Servicio al Sistema </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tipo de Servicio</label>
                            <div class="col-sm-9">
                              <select class="form-control" required id="type" name="type" >
                                <option value="foreign" >Local</option>
                                <option value="national" selected >Nacional</option>
                                <option value="international" >Internacional</option>
                                <option value="exclusive" >Exclusivo</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Estado</label>
                            <div class="col-sm-9">
                              <select class="form-control" required  id="state" name="state" >
                                <option value="quote" selected >Cotizacion</option>
                                <option value="to be collected" >Por Recolectar</option>
                                <option value="collected" >Recolectado</option>
                                <option value="in transit" >En Transito</option>
                                <option value="delivered" >Entregado</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label" >Cliente</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                <input type="hidden" id="clientId" />
                                <input type="text" class="form-control" required id="client" name="client" maxlength="200" />
                                <div class="input-group-append">
                                  <button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" id="clientSearch"  onclick="togglePopup('client')" >Buscar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Vendedor</label>
                            <div class="col-sm-9">
                               <div class="input-group-append">
                                 <input type="hidden" id="vendorId" />
                                  <input type="text" class="form-control" id="vendor" name="vendor" maxlength="200" />
                                  <div class="input-group-append">
                                    <button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" id="vendorSearch" onclick="togglePopup('vendor')" >Buscar</button>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Origen</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required id="origin" name="origin" maxlength="200" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Destino</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required id="destination" name="destination" maxlength="200" />
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <p class="card-description"> </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Chofer</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                <input type="hidden" id="driverId" />
                                  <input type="text" class="form-control" id="driver" name="driver" maxlength="200" />
                                  <div class="input-group-append">
                                    <button class="btn btn-sm btn-danger" style="background:#d9232d"  type="button" id="driverSearch" onclick="togglePopup('driver')" >Buscar</button>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Camion</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                <input type="hidden" id="truckId" />
                                  <input type="text" class="form-control" id="truck" name="truck" maxlength="200" />
                                  <div class="input-group-append">
                                    <button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" id="truckSearch" onclick="togglePopup('truck')" >Buscar</button>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Seguro</label>
                            <div class="col-sm-9">
                              <input type="number" class="form-control" min="0" max="1000000" id="insurance" name="insurance" value="0"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Costo</label>
                            <div class="col-sm-9">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-secondary text-white">$</span>
                                <input type="number" class="form-control" min="1" max="1000000" id="cost" name="cost"/>
                                <span class="input-group-text bg-secondary text-white">.00</span>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="submit" style="background:#d9232d" class="btn btn-danger col-md-2">Agregar</button>
                    </form>
                  </div>
                </div>
              </div>
{{!-- end of service form --}}
          
            

                  </div>
                </div>
              </div>
          
          {{!-- end of add item form --}}

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {{> adm_footer}}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    {{> admin_scripts}}


    <script>
      $(document).ready(function(){

        $("#service-form").submit( function(e){
          
            e.preventDefault();

            const entity ={
            formType:$("#form-type").val(),  
            type:$("#type").val(),  
            state:$("#state").val(), 
            clientId:$("#clientId").val(), 
            vendorId:$("#vendorId").val(), 
            driverId:$("#driverId").val(), 
            truckId:$("#truckId").val(), 
            origin:$("#origin").val(), 
            destination:$("#destination").val(),
            insurance:$("#insurance").val(),
            cost:$("#cost").val(),
            {{!-- :$("").val(), --}}
          }
          console.log("before submitting service")
          console.log(entity)

          $.post(
            "/admin/service-process",
            entity,
            function(data){
              console.log("data: ", data)
              if(data.msg === "success")
              {
                let msg=undefined;
                switch(entity.formType)
                {
                  case "ADD":
                    msg= "Servicio creado correctamente"
                  break;

                  case "UPDATE":
                    msg= "Datos actualizados correctamente"
                  break;

                  case "DELETE":
                    msg= "Registro eliminado correctamente"
                  break;

                }
                alert(msg)
              }
            }
          );

        });

      });


  function togglePopup(role) {

        if( role ==="none")
        {
          $(".search-person-popup").hide();
          $(".search-truck-popup").hide();
          return;
        }
        
        pattern = "";
        switch(role)
        {
          case "client":
            pattern = $("#client").val();
          break;
          
          case "vendor": 
            pattern = $("#vendor").val();
          break;
          
          case "driver":  
            pattern = $("#driver").val();
          break;

          case "truck":  
            pattern = $("#truck").val();
          break;
        }

        console.log("::: pasando prev get")

      if(role === "truck")
      {
        //call trucks
        $.get(
          "/admin/truck-pattern",
          "pattern="+pattern,
          function(resp)
          {
            if( resp.msg === undefined )
            {
                let tableRows = "";
                if(resp.trucks.length)
                {
                  //make popup appear with the content in the table
                  $(".search-truck-popup").toggle();

                  for( let truck of resp.trucks)
                  {
                    tableRows+="<tr>";
                    tableRows+=`<td>${truck.model}</td>`;
                    tableRows+=`<td>${truck.brand}</td>`;
                    tableRows+=`<td>${truck.plate}</td>`;
                    tableRows+=`<td>${truck.color}</td>`;
                    tableRows+=`<td><button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" onclick="setTruck('${truck.id}','${truck.model} ${truck.brand} ${truck.plate} ${truck.color}')" >Agregar</button></tr>`;
                    tableRows+="</tr>";
                  }

                  console.log("llenando tabla")
                  console.log(tableRows)
                  $("#truck-popup-table-content").html(tableRows)
                  {{!-- setTimeout( function(){$("#truck-popup-table-content").html(tableRows)}, 1000); --}}
                }
            }

          }
        );
      }
      else{
        //calls persons
        $.get(
        "/admin/person-role",
        `role=${role}&pattern=${pattern}`,//{"role":role, "pattern":pattern}
        function(data)
        {

          console.log("search data")
          console.log(data)

          let tableRows = "";
          if(data.persons.length)
          {
            //make popup appear with the content in the table
            $(".search-person-popup").toggle();

            for( let person of data.persons)
            {
              tableRows+="<tr>";
              tableRows+=`<td>${person.name}</td>`;
              tableRows+=`<td>${person.lastName}</td>`;
              tableRows+=`<td>${person.email}</td>`;
              tableRows+=`<td>${person.phone}</td>`;
              tableRows+=`<td><button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" onclick="setPerson('${person.id}' ,'${person.name} ${person.lastName} ${person.email} ${person.phone}', '${role}')" >Agregar</button></tr>`;
              tableRows+="</tr>";
            }

            console.log("llenando tabla")
            console.log(tableRows)
            $("#popup-table-content").html(tableRows)
            {{!-- setTimeout( function(){$("#popup-table-content").html(tableRows)}, 1000); --}}
          }

        }
      );
      }


      

  }//toggle


function setTruck(id,data)
{
    $("#truckId").val(id); 
    $("#truck").val(`${data}`);

    $(".search-truck-popup").toggle();
}

/**
this set searched person in respective field
*/
function setPerson(id,data,role)
{

  switch(role)
  {
    case "client":
      $("#clientId").val(id); 
      $("#client").val(`${data}`);
    break;
    
    case "vendor": 
      $("#vendorId").val(id); 
      $("#vendor").val(`${data}`);
    break;
    
    case "driver": 
      $("#driverId").val(id); 
      $("#driver").val(`${data}`);
    break;
  }

  $(".search-person-popup").toggle();
}//


    </script>


    {{!-- popup used to add a person to field --}}
    <div class="search-person-popup" style="overflow: scroll;">
        <div onclick="togglePopup('none')" class="close-btn-popup">
            X
        </div>
        <table class="table table-hover" >
            <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Accion</th>
                  </tr>
            </thead>
          <tbody id="popup-table-content" ></tbody>
        </table>
    </div>

    <div class="search-truck-popup" style="overflow: scroll;">
        <div onclick="togglePopup('none')" class="close-btn-popup">
            X
        </div>
        <table class="table table-hover" >
            <thead>
                  <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Placa</th>
                    <th>Color</th>
                    <th>Accion</th>
                  </tr>
            </thead>
          <tbody id="truck-popup-table-content" ></tbody>
        </table>
    </div>





  </body>
</html>