<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/adm/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/adm/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/adm/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/adm/css/style.css" <!-- End layout styles -->
    <link rel="shortcut icon" href="/adm/img/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
     
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-md-3 "></label>
                            <img src="/img/logored.png" />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <h4 class="card-title">Hoja de Servicio</h4>
                          <div class="form-group row">
                            <label class="col-md-3 ">Fecha: {{ date }}</label>
                            <div class="col-md-3">
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-md-3 ">N&uacute;mero de Servicio</label>
                            <div class="col-md-3">
                              {{!-- <input type="hidden" value="{{service.serviceNumber}}" id="serviceNumber" /> --}}
                              <h5 style="color:#d9232d" >{{service.serviceNumber}}</h5>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-md-3 "></label>
                            <div class="col-md-3">
                              {{!-- <button type="button" class="btn btn-danger btn-icon-text" style="background:#d9232d" id="inventory-print">
                            <i class="icon-printer btn-icon-prepend"></i> Imprimir </button> --}}
                            </div>
                            
                          </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tipo de Servicio</label>
                            <div class="col-sm-9">

                              {{#compString service.type "foreign" }} <input type="text" class="form-control" value="Local" /> {{/compString}} 
                              {{#compString service.type "national" }} <input type="text" class="form-control" value="Nacional" /> {{/compString}} 
                              {{#compString service.type "international" }} <input type="text" class="form-control" value="Internacional" /> {{/compString}} 
                              {{#compString service.type "exclusive" }} <input type="text" class="form-control" value="Exclusivo" /> {{/compString}} 
                              
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Estado</label>
                            <div class="col-sm-9">

                              {{#compString service.state "quote" }} <input type="text" class="form-control" value="Cotizacion" /> {{/compString}} 
                              {{#compString service.state "to be collected" }} <input type="text" class="form-control" value="Por Recolectar" /> {{/compString}} 
                              {{#compString service.state "collected" }} <input type="text" class="form-control" value="Recolectado" /> {{/compString}} 
                              {{#compString service.state "in transit" }} <input type="text" class="form-control" value="En Transito" /> {{/compString}} 
                              {{#compString service.state "delivered" }} <input type="text" class="form-control" value="Entregado" /> {{/compString}} 
                             
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label" >Cliente</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                <input type="text" class="form-control" value="{{service.clientName}}" />
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Vendedor</label>
                            <div class="col-sm-9">
                               <div class="input-group-append">
                                  <input type="text" class="form-control" value="{{service.vendorName}}" />
                                  
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Origen</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="{{service.origin}}"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Destino</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" value="{{service.destination}}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <p class="card-description"> </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Chofer</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                  <input type="text" class="form-control" value="{{service.driverName}}"/>
                                 
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Camion</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                  <input type="text" class="form-control" value="{{service.truckData}}"/>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Seguro</label>
                            <div class="col-sm-9">
                              <input type="number" class="form-control" min="0" max="1000000" id="insurance" name="insurance" value="{{service.insurance}}"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Costo</label>
                            <div class="col-sm-9">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-secondary text-white">$</span>
                                <input type="number" class="form-control" value="{{service.cost}}"/>
                                <span class="input-group-text bg-secondary text-white">.00</span>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                   

                    <h4 class="card-title">Inventario</h4>
                    <table class="table" style="border:1px solid black;" >
                      <thead style="background:#ccc;" style="border-bottom:1px solid black;" >
                        <tr >
                          <th> Cantidad </th>
                          <th> N&uacute;mero </th>
                          <th> Art&iacute;culo </th>
                          <th> Notas </th>
                          <th>  </th>
                        </tr>
                      </thead>
                      <tbody id="inventory-table-content" >
                        {{#each inventory}}
                        <tr  >
                          <td  style="border:1px solid black; width:100px;"> {{this.qty}} </td>
                          <td  style="border:1px solid black; "> {{this.number}} </td>
                          <td  style="border:1px solid black; "> {{this.name}} </td>
                          <td  style="border:1px solid black; "> {{this.notes}} </td>
                          <td  style="border:1px solid black; ">  </td>
                        </tr>
                        {{/each}}

                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
{{!-- end of service form --}}
          
              {{!-- <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                   
                    <h4 class="card-title">Inventario</h4>
                    <table class="table table-stripped">
                      <thead>
                        <tr>
                          <th> Nombre de Art&iacute;culo </th>
                          <th> Cantidad </th>
                          <th> Notas </th>
                          <th>  </th>
                        </tr>
                      </thead>
                      <tbody id="inventory-table-content">
                        
                      </tbody>
                    </table>

                  </div>
                </div>
              </div> --}}
          
          {{!-- end of add item form --}}



sadasd
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    {{> admin_scripts}}

  </body>
</html>