<!DOCTYPE html>
<html lang="en">

<head>
  {{> adm_head}}
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {{> adm_navbar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      {{> adm_sidebar}}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Listado de Personas</h4>
              <span class="card-body d-lg-flex align-items-center">
                <a href="/admin/persons-add" style="background:#d9232d" class="btn btn-warning btn-danger btn-sm my-1 my-sm-0 ml-auto">Agregar
                  Persona</a>
              </span>

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Persona a Buscar" aria-label="Recipient's username"
                  aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-danger" style="background:#d9232d;" type="button">Buscar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              {{!-- <h4 class="card-title">Listado de Personas</h4> --}}
              {{!-- <p class="card-description"> Add class <code>.table-hover</code>
              </p> --}}
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody id="table-content">  </tbody>
              </table>
            </div>
          </div>


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {{> adm_footer}}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  {{> admin_scripts}}
  <script>

$(document).ready(function(){

  //retrieving persons
  $.get(
  "/admin/person-list",
  "",
  function(data){
    populateTable(data)
  }
  
  );

  //success callback
  function populateTable(data){

    console.log("incoming data:")
    console.log(data)

    if(data.errorCode === undefined)
    { 
      let tableRows="";
      for( rec of data.persons)
      {
        console.log(rec);
        //populate table here
        tableRows += `<tr id="row-${rec.id}" >`;
        tableRows += `<td>${rec.name}</td>`;
        tableRows += `<td>${rec.lastName}</td>`;
        tableRows += `<td>${rec.email}</td>`;
        tableRows += `<td>${rec.phone}</td>`;
        tableRows += `<td>`;
        {{!-- tableRow += `<a href="/admin/person/read" class="icon-book-open"></a>`; --}}
        tableRows += `<a href="/admin/person/update/${rec.id}" alt="editar" class="icon-note"></a>`;
        tableRows += `<a href="#" id="delete" class="icon-trash" alt="remover" onclick="deleteRecord(${rec.id})" ></a>`;
        tableRows += `</td>`;
        tableRows += `</tr>`;

      }

      console.log(tableRows)
      $("#table-content").html(tableRows);
    }
    else{
      $("#table-content").html(`<tr>contenido no cargado, reintentar de nuevo...</tr>`);
    }
      
  }//

});

function deleteRecord(id)
  {
    {{!-- e.preventDefault() --}}
    const sure = confirm("Segur@ que quieres borrar este registro?")
    if(sure)
    {
      const entity={
        "id":id,
        "formType":"DELETE"
      }

      $.post("/admin/person-proccess",
      entity,
      function(data)
      {
        console.log(data)
        if(data.msg === "success")
        { 
          alert("Registro borrado correctamente") 
          $(`row-${id}`).remove();
        }
        
      });
      
    }//if

  }//

  </script>
</body>

</html>