<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/adm/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/adm/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/adm/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/adm/css/style.css" <!-- End layout styles -->
    <link rel="shortcut icon" href="/adm/img/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {{> adm_navbar}}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        {{> adm_sidebar}}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

           <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Formulario de Persona</h4>
                    <p class="card-description"> Agrega una persona al sistema </p>
                    <form class="forms-sample" id="person-form">
                      <input type="hidden" id="form-type" name="form-type" value="ADD" />
                      <div class="form-group">
                        <label for="name">nombre(s)</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="" />
                      </div>
                      <div class="form-group">
                        <label for="lastName">Apellido(s)</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" />
                      </div>
                      <div class="form-group">
                        <label for="email">Correo Electr&oacute;nico</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="" />
                      </div>
                      <div class="form-group">
                        <label for="phone">Telefono</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="" />
                      </div>
                      <div class="form-group">
                        <label for="address">Direcci&oacute;n</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="" />
                      </div>
                      <div class="form-group">
                        <label for="curp">Curp</label>
                        <input type="text" class="form-control" id="curp" name="curp" placeholder="" />
                      </div>
                      <div class="form-group">
                        <label for="ineCode">C&oacute;digo Ine</label>
                        <input type="text" class="form-control" id="ineCode" name="ineCode" placeholder="" />
                      </div>
                      <div class="form-group">
                      <label for="">Rol de la Persona</label>
                      <select class="form-control" id="role" name="role">
                        <option value="client" >Cliente</option>
                        <option value="admin" >Administrador</option>
                        <option value="vendor" >Ajustador</option>
                        <option value="employee" >Empeado</option>
                        <option value="driver" >Chofer</option>
                      </select>
                     </div>
                      <button type="submit"  style="background:#d9232d" class="btn btn-danger mr-2">Agregar</button>
                      {{!-- <button class="btn btn-light">Cancel</button> --}}
                    </form>
                  </div>
            </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {{> adm_footer}}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    {{> admin_scripts}}


    <script>
      $(document).ready(function(){

        $("#person-form").submit( function(e){
          
            e.preventDefault();

            const entity ={
            formType:$("#form-type").val(),  
            name:$("#name").val(),
            lastName:$("#lastName").val(),
            email:$("#email").val(),
            phone:$("#phone").val(),
            address:$("#address").val(),
            curp:$("#curp").val(),
            ineCode:$("#ineCode").val(),
            role:$("#role").val()
          }

          $.post(
            "/admin/person-proccess",
            entity,
            function(data){
              console.log("data: ", data)
              if(data.msg === "success")
              {
                let msg=undefined;
                switch(entity.formType)
                {
                  case "ADD":
                    msg= "Persona agregada correctamente"
                  break;

                  case "UPDATE":
                    msg= "Datos actualizados correctamente"
                  break;

                  case "DELETE":
                    msg= "Registro eliminado correctamente"
                  break;

                }
                alert(msg)
              }
            }
          );

        });

      });

    </script>

  </body>
</html>