<!DOCTYPE html>
<html lang="en">

<head>
  {{> adm_head}}
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {{> adm_navbar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      {{> adm_sidebar}}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Listado de Servicios</h4>
              <span class="card-body d-lg-flex align-items-center">
                <a href="/admin/services-add" style="background:#d9232d" class="btn btn-warning btn-danger btn-sm my-1 my-sm-0 ml-auto">Agregar
                  Servicio</a>
              </span>

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Servicio a Buscar" aria-label="Recipient's username"
                  aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-danger" style="background:#d9232d" type="button">Buscar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              {{!-- <h4 class="card-title">Listado de Personas</h4> --}}
              {{!-- <p class="card-description"> Add class <code>.table-hover</code>
              </p> --}}
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Servicio #</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Costo</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody id="service-table-content" >
                  
                </tbody>
              </table>
            </div>
          </div>


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {{> adm_footer}}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  {{> admin_scripts}}
<script>

$(document).ready(function(){


$.get(
  "/admin/service-list",
  "",
  function(resp){
    populateTable(resp); 
  }
);


});

function populateTable(resp){

    console.log("incoming data:")
    console.log(resp)

    if(resp.errorCode === undefined)
    { 
      let tableRows="";
      for( rec of resp.services)
      {
        console.log(rec);
        //populate table here
        tableRows += `<tr id="row-${rec.serviceNumber}" >`;
        tableRows += `<td>${rec.serviceNumber}</td>`;
        tableRows += `<td>${rec.origin}</td>`;
        tableRows += `<td>${rec.destination}</td>`;
        tableRows += `<td>${rec.clientName}</td>`;
        tableRows += `<td>${rec.state}</td>`;
        tableRows += `<td>${rec.cost}</td>`;
        tableRows += `<td>`;
          tableRows += `<a href="/admin/services/report/${rec.serviceNumber}" target="_blank"  class="icon-printer">  </a>`;
        tableRows += `<a href="/admin/services/update/${rec.serviceNumber}" alt="editar" class="icon-note">  </a>`;
        tableRows += `<a href="#" id="delete" class="icon-trash"  onclick="deleteRecord('${rec.serviceNumber}'')" >  </a>`;
        tableRows += `</td>`;
        tableRows += `</tr>`;

      }

      console.log(tableRows)
      $("#service-table-content").html(tableRows);
    }
    else{
      $("#service-table-content").html(`<tr>contenido no cargado, reintentar de nuevo...</tr>`);
    }
      
  }//


</script>


</body>

</html>