<!DOCTYPE html>
<html lang="en">

<head>
  {{> adm_head}}
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {{> adm_navbar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      {{> adm_sidebar}}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Listado de Recolecciones</h4>

              {{!-- <div class="input-group">
                <input type="text" class="form-control" placeholder="Persona a Buscar" aria-label="Recipient's username"
                  aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button style="background:#d9232d" class="btn btn-sm btn-danger" type="button">Buscar</button>
                </div>
              </div> --}}
            </div>
          </div>


              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Formulario de Recolecciones</h4>
                    <p class="card-description"> llena los campos para Programar una  <code>Recolecci&oacute;n</code> en el sistema. </p>
                   
                   <form class="form-sample" id="pickup-form" >
                      <input type="hidden" value="ADD" id="form-type" />
                     
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label" >Servicio</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                <input type="hidden" id="serviceNumber" value=""/>
                                <input type="text" class="form-control" required id="service" name="service" maxlength="200" value="" />
                                <div class="input-group-append">
                                  <button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" id="serviceSearch"  onclick="togglePopupService()" value="" required>Buscar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            {{!-- <label class="col-sm-3 col-form-label">Vendedor</label> --}}
                            <div class="col-sm-9">
                               {{!-- <div class="input-group-append">
                                 <input type="hidden" id="vendorId" value=""/>
                                  <input type="text" class="form-control" id="vendor" name="vendor" maxlength="200" value="" />
                                  <div class="input-group-append">
                                    <button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" id="vendorSearch" onclick="togglePopup('vendor')" value="" >Buscar</button>
                                  </div>
                                </div> --}}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        {{!-- <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Dia</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required id="pickup-date" name="pickup-date" maxlength="50" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Hora</label>
                            <div class="col-sm-9">
                              <input type="time" class="form-control" required id="pickup-time" name="pickup-time" maxlength="50" />
                            </div>
                          </div>
                        </div> --}}



                       <form class="form-inline" id="add-item-form" >
                        <input type="hidden" value="ADD" id="item-form-type" />
                        <label class="sr-only" for=""></label>
                        <div class="input-group col-md-2">
                          <input type="text" class="form-control" autocomplete="off" id="pickup-date" name="pickup-date" placeholder="Fecha" required />
                        </div>
                        <label class="sr-only" for=""></label>
                        <div class="input-group col-md-2">
                          <input type="time" class="form-control" id="pickup-time" name="pickup-time" placeholder="Hora" required />
                        </div>
                        <label class="sr-only" for=""></label>
                        <div class="input-group col-md-6">
                          <input type="text" class="form-control" id="pickup-address" name="pickup-address" placeholder="Direccion" required />
                        </div>
                        <button type="submit" style="background:#d9232d" class="btn btn-danger col-md-2">Programar</button>

                      </div>

                    </form>

                    <p></p><br />
                    <h4 class="card-title">Recolecciones Programadas</h4>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> D&iacute;a </th>
                          <th> Hora </th>
                          <th> Direcci&oacute;n </th>
                          <th> Vendedor </th>
                          <th> # Servicio </th>
                          <th> Acciones </th>
                        </tr>
                      </thead>
                      <tbody id="pickup-table-content">
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {{> adm_footer}}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  {{> admin_scripts}}
  <script src="/adm/js/jquery.datetimepicker.full.min.js"></script>
<script>

$(document).ready(function(){

jQuery('#pickup-date').datetimepicker({  
  format:'d/m/Y', //the format in the input field
  datepicker:true, //to show date picker
  timepicker:false, //to show timepicker
  {{!-- formatDate:'Y/m/d' --}}
});

//populate table
  retrievePickups();

$("#pickup-form").submit( function(e){
          
            e.preventDefault();

            const entity ={
            formType:$("#form-type").val(),  
            serviceNumber:$("#serviceNumber").val(),  
            vendorId:$("#vendorId").val(), 
            date:$('#pickup-date').val(), 
            time:$("#pickup-time").val(),
            address:$("#pickup-address").val()
          }
          console.log("before submitting service")
          console.log(entity)

          $.post(
            "/admin/pickup-process",
            entity,
            function(resp){
              console.log("resp: ", resp)
              if(resp.msg === "success")
              {
                let msg=undefined;
                switch(entity.formType)
                {
                  case "ADD":
                    msg= "Camion registrado correctamente"
                  break;

                  case "UPDATE":
                    msg= "Datos actualizados correctamente"
                  break;

                  case "DELETE":
                    msg= "Registro eliminado correctamente"
                  break;

                }

                //after success, populate table with new records
                retrievePickups();

                alert(msg)
              }
            }
          );

        });

});

    function deleteRecord(id)
    {
      {{!-- e.preventDefault() --}}
      const sure = confirm("Segur@ que quieres borrar este registro?")
      if(sure)
      {
        const entity={
          "id":id,
          "formType":"DELETE"
        }

        $.post("/admin/pickup-process",
        entity,
        function(data)
        {
          console.log(data)
          if(data.msg === "success")
          { 
            alert("Registro borrado correctamente") 
            $(`#row-${id}`).remove();
          }
          
        });
        
      }//if

    }//

    function retrievePickups()
    {
                $.get(
                  "/admin/pickup-list",
                  "",
                  function(resp){

                    if(resp.pickups.length > 0)
                    {

                      let tableRows="";
                      for( rec of resp.pickups)
                      {
                        console.log(rec);
                        //populate table here
                        tableRows += `<tr id="row-${rec.id}" >`;
                        tableRows += `<td>${rec.date}</td>`;
                        tableRows += `<td>${rec.time}</td>`;
                        tableRows += `<td>${rec.address}</td>`;
                        tableRows += `<td>${rec.vendorName}</td>`;
                        tableRows += `<td>${rec.serviceNumber}</td>`;
                        tableRows += `<td>`;
                        {{!-- tableRows += `<a href="/admin/person/update/${rec.id}" class="icon-note"></a>`; --}}
                        tableRows += `<a href="#" id="delete" class="icon-trash" onclick="deleteRecord(${rec.id})" ></a>`;
                        tableRows += `</td>`;
                        tableRows += `</tr>`;

                      }

                      console.log(tableRows)
                      $("#pickup-table-content").html(tableRows);

                    }

                  }
                ); 
    }//



  function togglePopupService(role) {
        
        pattern =  $("#service").val();      
      
        //calls persons
        $.get(
        "/admin/service-pattern",
        `pattern=${pattern}`,//{"role":role, "pattern":pattern}
        function(resp)
        {

          console.log("search data")
          console.log(resp)

          let tableRows = "";
          if(resp.services.length)
          {
            //make popup appear with the content in the table
            $(".search-service-popup").toggle();

            for( let service of resp.services)
            {
              tableRows+="<tr>";
              tableRows+=`<td>${service.serviceNumber}</td>`;
              tableRows+=`<td>${service.origin}</td>`;
              tableRows+=`<td>${service.destination}</td>`;
              tableRows+=`<td><button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" onclick="setService('${service.id}' ,'${service.serviceNumber} ${service.origin} ${service.destination}')">Agregar</button></tr>`;
              tableRows+="</tr>";
            }

            console.log(tableRows)
            $("#popup-table-content").html(tableRows);
          }

        }
      );

  }//toggle


  function setService(id, data){
    $("#serviceNumber").val(id); 
    $("#service").val(`${data}`);
    $(".search-service-popup").toggle();
  }//


</script>

<div class="search-service-popup" style="overflow: scroll;">
        <div onclick="togglePopupService()" class="close-btn-popup">
            X
        </div>
        <table class="table table-hover" >
            <thead>
                  <tr>
                    <th>Service #</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Accion</th>
                  </tr>
            </thead>
          <tbody id="popup-table-content" ></tbody>
        </table>
  </div>

</body>

</html>