<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/adm/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/adm/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/adm/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/adm/css/style.css" <!-- End layout styles -->
    <link rel="shortcut icon" href="/adm/img/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {{> adm_navbar}}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        {{> adm_sidebar}}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            {{!-- <a  href="/admin/persons-panel" >Persons</a>
            <a  href="/admin/services-panel" >Services</a>
            <a  href="/admin/trucks-panel" >Trucks</a>
            Pickup</a>
            <a  href="/admin/settings-panel" >Settings</a>
            <a  href="#" >Home Page Config</a>
            <a  href="#" >Change Password</a> --}}

<div class="col-md-12 grid-margin stretch-card">

<div class="row">
                          
                          <div class="col-md-4 d-flex align-items-center">
                            <div class="d-flex flex-row align-items-center">
                             <a  href="/admin/persons-panel" > <i style="color:#d9232d" class="icon-people icon-lg text-danger"></i> </a> 
                              <p class="mb-0 ml-1"> Personas </p>
                            </div>
                          </div>
                         
                         <div class="col-md-4 d-flex align-items-center">
                            <div class="d-flex flex-row align-items-center">
                              <a  href="/admin/services-panel" > <i style="color:#d9232d" class="icon-cursor icon-lg text-danger"></i> </a>
                              <p class="mb-0 ml-1"> Servicios </p>
                            </div>
                          </div>

                          <div class="col-md-4 d-flex align-items-center">
                            <div class="d-flex flex-row align-items-center">
                              <a  href="/admin/pickups-panel" > <i style="color:#d9232d" class="icon-calendar icon-lg text-danger"></i> </a>
                              <p class="mb-0 ml-1"> Recolecciones </p>
                            </div>
                          </div>
                          

                          <div class="col-md-4 d-flex align-items-center">
                            <div class="d-flex flex-row align-items-center">
                              <a  href="/admin/trucks-panel" ><i style="color:#d9232d" class="icon-bubbles icon-lg text-danger"></i></a>
                              <p class="mb-0 ml-1"> Camiones </p>
                            </div>
                          </div>
{{!--                          
                         <div class="col-md-4 d-flex align-items-center">
                            <div class="d-flex flex-row align-items-center">
                              <i class="icon- icon-mouse icon-lg text-warning"></i>
                              <p class="mb-0 ml-1"> Icon-lg </p>
                            </div>
                          </div> --}}

                          <div class="col-md-4 d-flex align-items-center">
                            <div class="d-flex flex-row align-items-center">
                              <a  href="/admin/settings-panel" ><i style="color:#d9232d" class="icon-settings icon-lg text-danger"></i></a>
                              <p class="mb-0 ml-1"> Configuracion </p>
                            </div>
                          </div>


                        </div>

</div>
                        








          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {{> adm_footer}}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    {{>admin_scripts}}
  </body>
</html>