<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/adm/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/adm/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/adm/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/adm/css/style.css" <!-- End layout styles -->
    <link rel="shortcut icon" href="/adm/img/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {{> adm_navbar}}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        {{> adm_sidebar}}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Formulario de Servicios</h4>
                    <form class="form-sample" id="service-form" >
                      <input type="hidden" value="UPDATE" id="form-type" />
                      <p class="card-description"> Puedes modificar los valores y presionar boton Actualizar para guardar los cambios </p>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-md-3 ">Numero de Servicio</label>
                            <div class="col-md-3">
                              <input type="hidden" value="{{service.serviceNumber}}" id="serviceNumber" />
                              <h5 style="color:#d9232d" >{{service.serviceNumber}}</h5>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-md-3 "></label>
                            <a href="/admin/services/report/{{service.serviceNumber}}" target="blank" ><div class="col-md-3">
                              <button type="button" class="btn btn-danger btn-icon-text" style="background:#d9232d" id="inventory-print">
                              <i class="icon-printer btn-icon-prepend"></i> Imprimir </button>
                            </div>
                            </a>
                            
                          </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tipo de Servicio</label>
                            <div class="col-sm-9">
                              <select class="form-control" required id="type" name="type" >
                                <option value="foreign" {{#compString service.type "foreign" }} selected {{/compString}} >Local</option>
                                <option value="national" {{#compString service.type "national" }} selected {{/compString}}  >Nacional</option>
                                <option value="international" {{#compString service.type "international" }} selected {{/compString}} >Internacional</option>
                                <option value="exclusive" {{#compString service.type "foreign" }} exclusive {{/compString}} >Exclusivo</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Estado</label>
                            <div class="col-sm-9">
                              <select class="form-control" required  id="state" name="state" >
                                <option value="quote" {{#compString service.state "quote" }} selected {{/compString}} >Cotizacion</option>
                                <option value="to be collected" {{#compString service.state "to be collected" }} selected {{/compString}} >Por Recolectar</option>
                                <option value="collected" {{#compString service.state "collected" }} selected {{/compString}} >Recolectado</option>
                                <option value="in transit" {{#compString service.state "in transit" }} selected {{/compString}} >En Transito</option>
                                <option value="delivered" {{#compString service.state "delivered" }} selected {{/compString}} >Entregado</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label" >Cliente</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                <input type="hidden" id="clientId" value="{{service.clientId}}"/>
                                <input type="text" class="form-control" required id="client" name="client" maxlength="200" value="{{service.clientName}}" />
                                <div class="input-group-append">
                                  <button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" id="clientSearch"  onclick="togglePopup('client')" value="{{service.clientName}}" >Buscar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Vendedor</label>
                            <div class="col-sm-9">
                               <div class="input-group-append">
                                 <input type="hidden" id="vendorId" value="{{service.vendorId}}"/>
                                  <input type="text" class="form-control" id="vendor" name="vendor" maxlength="200" value="{{service.vendorName}}" />
                                  <div class="input-group-append">
                                    <button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" id="vendorSearch" onclick="togglePopup('vendor')" value="{{service.vendorName}}" >Buscar</button>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Origen</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required id="origin" name="origin" maxlength="200" value="{{service.origin}}"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Destino</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required id="destination" name="destination" maxlength="200" value="{{service.destination}}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <p class="card-description"> </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Chofer</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                <input type="hidden" id="driverId" value="{{service.driverId}}" />
                                  <input type="text" class="form-control" id="driver" name="driver" maxlength="200" value="{{service.driverName}}"/>
                                  <div class="input-group-append">
                                    <button class="btn btn-sm btn-danger" style="background:#d9232d"  type="button" id="driverSearch" onclick="togglePopup('driver')" value="{{service.driverName}}" >Buscar</button>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Camion</label>
                            <div class="col-sm-9">
                              <div class="input-group-append">
                                <input type="hidden" id="truckId" value="{{service.truckId}}" />
                                  <input type="text" class="form-control" id="truck" name="truck" maxlength="200" value="{{service.truckData}}"/>
                                  <div class="input-group-append">
                                    <button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" id="truckSearch" onclick="togglePopup('truck')" value="{{service.truckData}}" >Buscar</button>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Seguro</label>
                            <div class="col-sm-9">
                              <input type="number" class="form-control" min="0" max="1000000" id="insurance" name="insurance" value="{{service.insurance}}"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Costo</label>
                            <div class="col-sm-9">
                              <div class="input-group-prepend">
                                <span class="input-group-text bg-secondary text-white">$</span>
                                <input type="number" class="form-control" min="1" max="1000000" id="cost" name="cost" value="{{service.cost}}"/>
                                <span class="input-group-text bg-secondary text-white">.00</span>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="submit" style="background:#d9232d" class="btn btn-danger col-md-2">Actualizar</button>
                    </form>
                  </div>
                </div>
              </div>
{{!-- end of service form --}}
          
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">agregar Art&iacute;culo de inventario</h4>
                    <p class="card-description"> agrega un nuevo art&iacute;culo al  <code>inventario</code> utilizando el formulario inferior. </p>
                    <form class="form-inline" id="add-item-form" >
                     <input type="hidden" value="ADD" id="item-form-type" />
                      <label class="sr-only" for=""></label>
                      <div class="input-group col-md-2">
                        <input type="text" class="form-control" id="item-name" name="item-name" placeholder="Nombre">
                      </div>
                      <div class="input-group col-md-1">
                        <input type="number" class="form-control" id="item-qty" name="item-qty" placeholder="Cantidad" min="1" max="1000" value="1">
                      </div>
                      <div class="input-group col-md-1">
                        <input type="number" class="form-control" id="item-number" name="item-number" placeholder="Numero" min="1" max="9999" value="">
                      </div>
                      <div class="input-group col-md-6">
                        <input type="text" class="form-control" id="item-notes" name="item-notes" placeholder="Notas">
                      </div>
                      <button type="submit" style="background:#d9232d" class="btn btn-danger col-md-2">Agregar Art&ioacute;culo</button>
                    </form>


                    <h4 class="card-title">Inventario</h4>
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th> Nombre de Art&iacute;culo </th>
                          <th> Cantidad </th>
                          <th> N&uacute;mero </th>
                          <th> Notas </th>
                          <th> Acciones </th>
                        </tr>
                      </thead>
                      <tbody id="inventory-table-content">
                        
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
          
          {{!-- end of add item form --}}


{{!-- <div class="card">
                  <div class="card-body">
                    
                  </div>
                </div> --}}
                {{!-- end of inventory table here --}}



          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {{> adm_footer}}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    {{> admin_scripts}}


    <script>
      $(document).ready(function(){

        $("#service-form").submit( function(e){
          
            e.preventDefault();

            const entity ={
            formType:$("#form-type").val(), 
            serviceNumber:$("#serviceNumber").val(), 
            type:$("#type").val(),  
            state:$("#state").val(), 
            clientId:$("#clientId").val(), 
            vendorId:$("#vendorId").val(), 
            driverId:$("#driverId").val(), 
            truckId:$("#truckId").val(), 
            origin:$("#origin").val(), 
            destination:$("#destination").val(),
            insurance:$("#insurance").val(),
            cost:$("#cost").val()
          }
          console.log("before submitting service")
          console.log(entity)

          $.post(
            "/admin/service-process",
            entity,
            function(data){
              console.log("data: ", data)
              if(data.msg === "success")
              {
                let msg=undefined;
                switch(entity.formType)
                {
                  case "ADD":
                    msg= "Servicio creado correctamente"
                  break;

                  case "UPDATE":
                    msg= "Datos actualizados correctamente"
                  break;

                  case "DELETE":
                    msg= "Registro eliminado correctamente"
                  break;

                }
                alert(msg)
              }
            }
          );

        });//service update form



          $("#add-item-form").submit( function(e){
          
            e.preventDefault();

            const entity ={
            serviceNumber:$("#serviceNumber").val(),
            formType:$("#item-form-type").val(),  
            name:$("#item-name").val(),  
            qty:$("#item-qty").val(), 
            number:$("#item-number").val(),
            notes:$("#item-notes").val()
          }
          console.log("before submitting service")
          console.log(entity)

          $.post(
            "/admin/item-process",
            entity,
            function(resp){
              console.log("data: ", resp)
              if(resp.msg === "success")
              {
                let msg=undefined;
                switch(entity.formType)
                {
                  case "ADD":
                    msg= "Articulo creado correctamente"
                  break;

                  case "UPDATE":
                    msg= "Datos actualizados correctamente"
                  break;

                  case "DELETE":
                    msg= "Registro eliminado correctamente"
                  break;

                }

                //add item to table
                populateItemTable(entity.serviceNumber);

                alert(msg)
              }
            }
          );

        });

        
        populateItemTable($("#serviceNumber").val());


      });//ready


  function togglePopup(role) {

        if( role ==="none")
        {
          $(".search-person-popup").hide();
          $(".search-truck-popup").hide();
          return;
        }
        
        pattern = "";
        switch(role)
        {
          case "client":
            pattern = $("#client").val();
          break;
          
          case "vendor": 
            pattern = $("#vendor").val();
          break;
          
          case "driver":  
            pattern = $("#driver").val();
          break;

          case "truck":  
            pattern = $("#truck").val();
          break;
        }

        console.log("::: pasando prev get")

      if(role === "truck")
      {
        //call trucks
        $.get(
          "/admin/truck-pattern",
          "pattern="+pattern,
          function(resp)
          {
            if( resp.msg === undefined )
            {
                let tableRows = "";
                if(resp.trucks.length)
                {
                  //make popup appear with the content in the table
                  $(".search-truck-popup").toggle();

                  for( let truck of resp.trucks)
                  {
                    tableRows+="<tr>";
                    tableRows+=`<td>${truck.model}</td>`;
                    tableRows+=`<td>${truck.brand}</td>`;
                    tableRows+=`<td>${truck.plate}</td>`;
                    tableRows+=`<td>${truck.color}</td>`;
                    tableRows+=`<td><button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" onclick="setTruck('${truck.id}','${truck.model} ${truck.brand} ${truck.plate} ${truck.color}')" >Agregar</button></tr>`;
                    tableRows+="</tr>";
                  }

                  console.log("llenando tabla")
                  console.log(tableRows)
                  $("#truck-popup-table-content").html(tableRows)
                  {{!-- setTimeout( function(){$("#truck-popup-table-content").html(tableRows)}, 1000); --}}
                }
            }

          }
        );
      }
      else{
        //calls persons
        $.get(
        "/admin/person-role",
        `role=${role}&pattern=${pattern}`,//{"role":role, "pattern":pattern}
        function(data)
        {

          console.log("search data")
          console.log(data)

          let tableRows = "";
          if(data.persons.length)
          {
            //make popup appear with the content in the table
            $(".search-person-popup").toggle();

            for( let person of data.persons)
            {
              tableRows+="<tr>";
              tableRows+=`<td>${person.name}</td>`;
              tableRows+=`<td>${person.lastName}</td>`;
              tableRows+=`<td>${person.email}</td>`;
              tableRows+=`<td>${person.phone}</td>`;
              tableRows+=`<td><button class="btn btn-sm btn-danger" style="background:#d9232d" type="button" onclick="setPerson('${person.id}' ,'${person.name} ${person.lastName} ${person.email} ${person.phone}', '${role}')" >Agregar</button></tr>`;
              tableRows+="</tr>";
            }

            console.log("llenando tabla")
            console.log(tableRows)
            $("#popup-table-content").html(tableRows)
            {{!-- setTimeout( function(){$("#popup-table-content").html(tableRows)}, 1000); --}}
          }

        }
      );
      }


      

  }//toggle


function setTruck(id,data)
{
    $("#truckId").val(id); 
    $("#truck").val(`${data}`);

    $(".search-truck-popup").toggle();
}

/**
this set searched person in respective field
*/
function setPerson(id,data,role)
{

  switch(role)
  {
    case "client":
      $("#clientId").val(id); 
      $("#client").val(`${data}`);
    break;
    
    case "vendor": 
      $("#vendorId").val(id); 
      $("#vendor").val(`${data}`);
    break;
    
    case "driver": 
      $("#driverId").val(id); 
      $("#driver").val(`${data}`);
    break;
  }

  $(".search-person-popup").toggle();
}//


  function populateItemTable(serviceNumber)
  {

  $.get(
    "/admin/iventory",
    "serviceNumber="+serviceNumber,
    function(resp)
    {
      if(resp.msg === undefined)
      {
        console.log(resp.inventory);

        let itemTableRows="";
        for( let item of resp.inventory)
            {
              itemTableRows+=`<tr id="itm-row-${item.id}">`;
              itemTableRows+=`<td>${item.name}</td>`;
              itemTableRows+=`<td>${item.qty}</td>`;
              itemTableRows+=`<td>${item.number}</td>`;
              itemTableRows+=`<td>${item.notes}</td>`;
              itemTableRows+=`<td> <a href="#" id="delete" style="background:#d9232d" class="icon-trash" onclick="deleteItem('${item.id}')" ></a> </td>`;
              itemTableRows+="</tr>";
            }

            console.log("llenando tabla inventario")
            console.log(itemTableRows)
            $("#inventory-table-content").html(itemTableRows)
      }
      
    }
  );

  }//


  function deleteItem(id)
  {
    const sure = confirm("Segur@ que quieres borrar este registro?")
      if(sure)
      {
        const entity={
          "id":id,
          "formType":"DELETE"
        }

        $.post(
              "/admin/item-process",
              entity,
              function(resp){

              console.log(resp)
                      if(resp.msg === "success")
                      { 
                        alert("Registro borrado correctamente") 
                        $(`#itm-row-${id}`).remove();
                      }
              }
            );
        
      }//if

    
  }//



 </script>

  {{!-- popup used to add a person to field --}}
    <div class="search-person-popup" style="overflow: scroll;">
        <div onclick="togglePopup('none')" class="close-btn-popup">
            X
        </div>
        <table class="table table-hover" >
            <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Accion</th>
                  </tr>
            </thead>
          <tbody id="popup-table-content" ></tbody>
        </table>
    </div>

    <div class="search-truck-popup" style="overflow: scroll;">
        <div onclick="togglePopup('none')" class="close-btn-popup">
            X
        </div>
        <table class="table table-hover" >
            <thead>
                  <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Placa</th>
                    <th>Color</th>
                    <th>Accion</th>
                  </tr>
            </thead>
          <tbody id="truck-popup-table-content" ></tbody>
        </table>
    </div>

  </body>
</html>