<!DOCTYPE html>
<html lang="en">

<head>
  {{> adm_head}}
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {{> adm_navbar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      {{> adm_sidebar}}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Listado de Camiones</h4>

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Persona a Buscar" aria-label="Recipient's username"
                  aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button style="background:#d9232d" class="btn btn-sm btn-danger" type="button">Buscar</button>
                </div>
              </div>
            </div>
          </div>


              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Formulario de Camiones</h4>
                    <p class="card-description"> llena los campos para agregar un  <code>cami&oacute;n</code>al sistema. </p>
                   
                   <form class="form-sample" id="truck-form" >
                      <input type="hidden" value="ADD" id="form-type" />
                     
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Modelo</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required id="model" name="model" maxlength="50" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Marca</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required id="brand" name="brand" maxlength="50" />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Placa</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required id="plate" name="plate" maxlength="50" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Color</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" required id="color" name="color" maxlength="50" />
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <textarea id="notes" name="notes" required class="form-control" rows="8" maxlength="500" placeholder="* por favor especifica todos los campos..."></textarea>
			                    </div>
                        </div>
                      </div>
                      <button type="submit" style="background:#d9232d" class="btn btn-danger col-md-2">Agregar Cami&oacute;n</button>
                    </form>

                    <p></p>
                    <h4 class="card-title">Camiones Registrados</h4>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> Modelo </th>
                          <th> Marca </th>
                          <th> Placa </th>
                          <th> color </th>
                          <th> notas </th>
                          <th> Acciones </th>
                        </tr>
                      </thead>
                      <tbody id="truck-table-content">
                        
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        {{> adm_footer}}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  {{> admin_scripts}}
<script>

$(document).ready(function(){

//populate table
  retrieveTruckList();

$("#truck-form").submit( function(e){
          
            e.preventDefault();

            const entity ={
            formType:$("#form-type").val(),  
            model:$("#model").val(),  
            brand:$("#brand").val(), 
            plate:$("#plate").val(), 
            color:$("#color").val(), 
            notes:$("#notes").val()
          }
          console.log("before submitting service")
          console.log(entity)

          $.post(
            "/admin/truck-process",
            entity,
            function(data){
              console.log("data: ", data)
              if(data.msg === "success")
              {
                let msg=undefined;
                switch(entity.formType)
                {
                  case "ADD":
                    msg= "Camion registrado correctamente"
                  break;

                  case "UPDATE":
                    msg= "Datos actualizados correctamente"
                  break;

                  case "DELETE":
                    msg= "Registro eliminado correctamente"
                  break;

                }

                //after success, populate table with new records
                retrieveTruckList();

                alert(msg)
              }
            }
          );

        });

});

    function deleteRecord(id)
    {
      {{!-- e.preventDefault() --}}
      const sure = confirm("Segur@ que quieres borrar este registro?")
      if(sure)
      {
        const entity={
          "id":id,
          "formType":"DELETE"
        }

        $.post("/admin/truck-process",
        entity,
        function(data)
        {
          console.log(data)
          if(data.msg === "success")
          { 
            alert("Registro borrado correctamente") 
            $(`#row-${id}`).remove();
          }
          
        });
        
      }//if

    }//

    function retrieveTruckList()
    {
                $.get(
                  "/admin/truck-list",
                  "",
                  function(resp){

                    if(resp.trucks.length > 0)
                    {

                      let tableRows="";
                      for( rec of resp.trucks)
                      {
                        console.log(rec);
                        //populate table here
                        tableRows += `<tr id="row-${rec.model}" >`;
                        tableRows += `<td>${rec.model}</td>`;
                        tableRows += `<td>${rec.brand}</td>`;
                        tableRows += `<td>${rec.plate}</td>`;
                        tableRows += `<td>${rec.color}</td>`;
                        tableRows += `<td>${rec.notes}</td>`;
                        tableRows += `<td>`;
                        {{!-- tableRows += `<a href="/admin/person/update/${rec.id}" class="icon-note"></a>`; --}}
                        tableRows += `<a href="#" id="delete" class="icon-trash" onclick="deleteRecord(${rec.id})" ></a>`;
                        tableRows += `</td>`;
                        tableRows += `</tr>`;

                      }

                      console.log(tableRows)
                      $("#truck-table-content").html(tableRows);

                    }

                  }
                ); 

    }

</script>



</body>

</html>