<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>El Padrino Mudanzas</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="El padrino mudanzas en tijuana y todo mexico, servicio nacional e internacional, presupuesto sin compromiso."  />
<!-- css -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/cubeportfolio.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<!-- Theme skin -->
<link id="t-colors" href="/skins/default.css" rel="stylesheet" />

	<!-- boxed bg -->
	<link id="bodybg" href="/bodybg/bg1.css" rel="stylesheet" type="text/css" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>


<div id="wrapper">
	<!-- start header -->
	{{> site_header}}
	<!-- end header -->
	<section id="content">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	
		<form role="form" class="register-form" id="quote-form">
			<h2>Cotizaci&oacute;n<small> usa el formulario para que nos indiques que es lo que quieres cotizar</small></h2>
			{{!-- <hr class="colorgraph"> --}}
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group">
                        <input type="text" name="origin" id="origin" class="form-control input-md" placeholder="Origen" tabindex="1" required />
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group">
						<input type="text" name="destination" id="destination" class="form-control input-md" placeholder="Destino" tabindex="2" required />
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group">
						<input type="date" name="date" id="date" class="form-control input-md"  placeholder="dd-mm-yyyy" tabindex="3" required />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-md" placeholder="Mi Nombre" tabindex="4" required />
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group">
						<input type="tel" name="phone" id="phone" class="form-control input-md" placeholder="Tel&eacute;fono" tabindex="5" required />
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="form-group">
						<input type="email" name="email" id="email" class="form-control input-md" placeholder="Correo Electr&oacute;nico" tabindex="6" required />
					</div>
				</div>
			</div>
			<div class="form-group">
				<textarea required name="notes" id="notes" class="form-control" rows="8" placeholder="* por favor especifica todos los art&iacute;culos que quieres cotizar y durante el transcurso del d&iacute;a te enviaremos tu cotizaci&oacute;n a tu correo "></textarea>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-4"><input style="background:#d9232d" type="submit" value="Enviar Cotizaci&oacute;n" class="btn btn-theme btn-block btn-md" tabindex="7"></div>
				<div class="col-xs-12 col-md-8">* Todos los campos son importantes!</div>
			</div>
		</form>

			</div>
		</div>
	</div>
	</section>
	{{> site_footer}}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
{{> site_scripts}}

<script>
$(document).ready(function(){

	$("#quote-form").submit( function(e){
		e.preventDefault();
		{{!-- var f = $(this);
		console.log(f.children) --}}

		const entity ={
			origin:$("#origin").val(),
			destination:$("#destination").val(),
			date:$("#date").val(),
			name:$("#name").val(),
			phone:$("#phone").val(),
			email:$("#email").val(),
			notes:$("#notes").val()
		}

		$.post(
			"/send-quote",
			entity,
			function(resp){
				alert("La cotizacion se ha enviado correctamente.")
				$("#quote-form").trigger("reset");
				console.log(resp)
			}
		);

	});

});


</script>


	
</body>
</html>