<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>El Padrino Mudanzas</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="El padrino mudanzas en tijuana y todo mexico, servicio nacional e internacional, presupuesto sin compromiso."  />

<!-- css -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/cubeportfolio.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<!-- Theme skin -->
<link id="t-colors" href="/skins/default.css" rel="stylesheet" />
<!-- boxed bg -->
<link id="bodybg" href="/bodybg/bg1.css" rel="stylesheet" type="text/css" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>


<div id="wrapper">
	<!-- start header -->
	{{> site_header}}
	<!-- end header -->
	<section id="content">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
                    <h2>Informaci&oacute;n del Servicio</h2>
                    <h2><small>A continuaci&oacute;n le mostramos los datos de su servicio asi como el estado
                      en el que actualmente se encuentra.
                      <br /><br />
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th><h4 >N&uacute;mero de Servicio</h4></th>
                            <th><h4 style="color:#d9232d" >{{service.serviceNumber}}</h4></th>
                          </tr>
                        </thead>
                            <tbody style="border:1px solid #CCC;" >
                              <tr>
                                <td>
                                    Nombre del Cliente:
                                </td>
                                <td>{{service.clientName}}</td>
                              </tr>
                              <tr>
                                <td>
                                    Origen
                                </td>
                                <td><b>de:</b> {{service.origin}}</td>
                              </tr>
                              <tr>
                                <td>Destino</td>
                                <td><b>a:</b> {{service.destination}}</td>
                              </tr>
                            </tbody>
                    </table>
                    
                    <h3>
                        Datos de Mudanza
                    </h3>
                    <table class="table table-striped">
                            <tbody style="border:1px solid #CCC;" >
                              <tr>
                                <td>
                                    Estado Actual
                                </td>
                                <td style="color:#d9232d" >{{ service.state }}</td>
                              </tr>
                              <tr>
                                <td>
                                    Tipo de Mudanza
                                </td>
                                <td>{{ service.type }}</td>
                              </tr>
                              <tr>
                                <td>
                                    Nombre de Vendedor:
                                </td>
                                <td>{{ service.vendorName }}</td>
                              </tr>
                              <tr>
                                <td>
                                    Operador de Cami&oacute;n:
                                </td>
                                <td>{{ service.driverName}}</td>
                              </tr>
							                <tr>
                                <td>
                                    Datos de Cami&oacute;n
                                </td>
                                <td>{{ service.truckData}}</td>
                              </tr>
                            </tbody>
                    </table>


                 <h2>Inventario</h2>
                    <table class="table table-striped">
                        <thead style="background: #CCC; ">
                          <tr>
                            <th><h4>Nombre Art&iacute;culo</h4></th>
                            <th><h4>Cantidad</h4></th>
                            <th><h4>Notas</h4></th>
                          </tr>
                        </thead>
                            <tbody style="border:1px solid #CCC;">
                              {{#each inventory}}
                              <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.qty}}</td>
                                <td>{{this.notes}}</td>
                              </tr>
                              {{/each }}
                            </tbody>
                    </table>


                </div>
		</div>
	</div>
	</section>
	{{> site_footer}}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
{{> site_scripts}}

<script>

{{!-- $(document).ready(function(){


$("#service-search-form").submit(function(e){
          
    e.preventDefault();



}); --}}

</script>



</body>
</html>