<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>El Padrino Mudanzas</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="El padrino mudanzas en tijuana y todo mexico, servicio nacional e internacional, presupuesto sin compromiso."  />


<!-- css -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/cubeportfolio.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />


<!-- Theme skin -->
<link id="t-colors" href="/skins/default.css" rel="stylesheet" />

	<!-- boxed bg -->
	<link id="bodybg" href="/bodybg/bg1.css" rel="stylesheet" type="text/css" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>


<div id="wrapper">
	<!-- start header -->
	{{> site_header}}
	<!-- end header -->
	<section id="content">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
                    <h2> Nuestros Servicios</h2>
                    <h2><small>A continuaci&oacute;n te explicamos cuales son nuestros servicios y en que consisten,
                            para que tengas una mejor idea que lo que necesitas a la hora de pedir tu mudanza.
                        Si aun asi tienes dudas, not dudes en llamarnos para atenderte personalmente.</small></h2>
                    
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th><h3>Servicio</h3></th>
                            <th><h3>Descripci&oacute;n</h3></th>
                          </tr>
                        </thead>
                            <tbody>
                              <tr>
                                <td>
                                    Local
                                </td>
                                <td>Este servicio foraneo comprende Baja california y sus localidades:
                                    Tijuana, Rosarito, Ensenada, Mexicali.</td>
                              </tr>
                              <tr>
                                <td>
                                    Internacional
                                </td>
                                <td>En el servicio internacional, programamos una recoleccion de los articulos a mandar
                                    a otro estado, estos los empacamos y los almacenamos en nuestras bodegas y dentro de
                                    20 dias habiles enviamos un cambion con su mudanza.</td>
                              </tr>
                              <tr>
                                <td>Exclusivo</td>
                                <td>En este servicio, la mudanza se recolecta y empaca en el domicilio directamente al cami&oacute;n
                                    que la transportara hacia el lugar de destino, este servicio es mas r&aacute;pido pues 
                                    sale el mismo d&iacute;a o durante los 3 d&iacute;as h&oacute;biles siguiente.</td>
                              </tr>
                            </tbody>
                    </table>
                    
                    <h1>
                        Servicios Inclu&iacute;dos
                    </h1>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th><h3>Servicio</h3></th>
                            <th><h3>Descripci&oacute;n</h3></th>
                          </tr>
                        </thead>
                            <tbody>
                              <tr>
                                <td>
                                    Tr&aacute;mites Aduanales
                                </td>
                                <td>
                                    Todos los servicios de mudanzas incluyen los tr&aacute;mites aduanales necesarios para poder, 
                                    transportar art&iacute;culos desde Baja California a alg&uacute;n otro estado de la rep&uacute;blica.
									Sin embargo hay algunos otros tramites aduanales que se tienen que pagar debido a la naturaleza del 
									art&iacute;culo a mover o porque simplemente las leyes mexicanas asi lo indican, en este caso se le notificara
									al cliente sobre los pagos de estos costos de aduana para que este tome la desici&oacute;n final de seguir
									o no con el producto
                                </td>
                              </tr>
                              <tr>
                                <td>
                                    Seguro en la mudanza
                                </td>
                                <td>
                                    Todos los servicios de mudanzas incluyen ya el seguro para su mayor comodidad, 
                                    en caso de alg&uacute;n siniestro la mudanza va asegurada por un valor nominal de [TANTO]
                                </td>
                              </tr>
							  <tr>
                                <td>
                                    Carga y descarga de camiones
                                </td>
                                <td>
									Este servicio implica que los art&iacute;culos de la mudanza son acomodados en un cami&oacute;n para su traslado
									de un punto a otro, al momento de recoger la mudanza desde el lugar de origen y cuando se cargan
									los art&iacute;culos en un cami&oacute;n mas grande que transportara los art&iacute;culos del punto de partida hasta
									el destino.
									Este servicio de carga ya va incluido al momento de recoger la mudanza o cargar el camion final,
									[DEFINIR MEJOR EL PUNTO DE DESCARGA SI SE COBRA O NO, o cuando]
                                </td>
                              </tr>
							  <tr>
                                <td>
                                    Bodega protegida
                                </td>
                                <td>
									La mudanza tarda entre 15 a 30 dias desde el momento que se recoge desde el lugar de origen,
									mientras tanto, estos art&iacute;culos son guardados en una bodega donde nos aseguramos que estos mismos
									esten a salvo en lo que hay camion disponible para posteriormente cargarlo y enviarlo a repartir
									las diferentes mudanzas desde el punto de origen hasta los diferentes puntos del pa&iacute;s.
                                </td>
                              </tr>
                            </tbody>
                    </table>

                </div>
		</div>
	</div>
	</section>
	{{> site_footer}}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
{{> site_scripts}}

	
</body>
</html>