<!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Administrador</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/adm/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/adm/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/adm/vendors/css/vendor.bundle.base.css">

  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/adm/css/style.css" <!-- End layout styles -->
  <link rel="stylesheet" href="/adm/css/jquery.datetimepicker.css">
  <link rel="shortcut icon" href="/adm/img/favicon.png" />