<!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/adm/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/adm/js/off-canvas.js"></script>
    <script src="/adm/js/misc.js"></script>
    <script src="/adm/js/jquery.min.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    <script>
        function signOut(){

$.get(
    "/admin/logout",
    "",
    function(resp){
        console.log(resp)
    }
);
        window.location.href = "/acceso"
        }
        </script>