
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-lg-3">
				<div class="widget">
					 <h4>Nuestras Oficinas</h4>
					Calle: Toscani 2712-B<br />
                    Col. Villa Fontana<br />
                    C.P.22205 Tijuana, Baja California
					<p>
						<i class="icon-envelope-alt"></i> mudanzaselpadrino@gmail.com
					</p>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="widget">
					<h4>Tel&eacute;fonos</h4>
					<ul class="link-list">
						<li><a href="#">(664) 646 69 05</a></li>
						<li><a href="#">(664) 463 07 00</a></li>
						<li><a href="#">(664) 794 32 46</a></li>
					</ul>
				</div>
				
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="widget">
					<h4>Navegaci&oacute;n</h4>
					<ul class="link-list">
						<li><a href="/inicio">Inicio</a></li>
						<li><a href="/servicios">Servicios</a></li>
						<li><a href="/cotizacion">Cotizaci&oacute;n</a></li>
						<li><a href="/materiales">Materiales Peligrosos</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="widget">
					<h4>Administraci&oacute;n</h4>
					<a href="/acceso">Accesso</a>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; El Padrino Mudanzas
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</footer>