<script  >
	<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Sailor - Bootstrap 3 corporate template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Bootstrap 3 template for corporate business" />
<meta name="author" content="http://iweb-studio.com" />
<!-- css -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="plugins/flexslider/flexslider.css" rel="stylesheet" media="screen" />	
<link href="css/cubeportfolio.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />

<!-- Theme skin -->
<link id="t-colors" href="skins/default.css" rel="stylesheet" />
	<!-- boxed bg -->
	<link id="bodybg" href="bodybg/bg1.css" rel="stylesheet" type="text/css" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>



<div id="wrapper">
	<!-- start header -->
	{{> site_header}}
	<!-- end header -->
	<section id="featured" class="bg">
	<!-- start slider -->
	
	{{!-- contenido template --}}
			
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="main-slider flexslider">
             <ul class="slides">
              <li>
                <img 
                        src="img/slides/flexslider/slider1.png" alt="Mudanza Segura" />
                <div class="flex-caption">
                    <h3>Mudanza Segura!</h3> 
                    <p>Para tu Mayor Comodidad, Todos Nuestros Servicios ya Incluyen el seguro.</p> 
                    <a href="#"  th:href="/nuestros-servicios" class="btn btn-theme">Nuestros Servicios</a>
                </div>
              </li>
              <li>
                <img  
                    src="img/slides/flexslider/slider2.png" alt="" />
                <div class="flex-caption">
                    <h3>No Te Preocupes!</h3>
                    <p>Cuidamos tus pertenencias como si fueramos los dueños, Somos Profesionales.</p> 
                    <a href="#" th:href="/nuestros-servicios" class="btn btn-theme">Nuestros Servicios</a>
                </div>
              </li>
              <li>
                <img  
                    src="img/slides/flexslider/slider3.png" alt="" />
                <div class="flex-caption">
                    <h3>Servicios Nacional e Internacional</h3> 
                    <p>Nuestro servicio cubre la republica mexicana</p> 
                    <a href="#" th:href="/nuestros-servicios" class="btn btn-theme">Nuestros Servicios</a>
                </div>
              </li>
              <li>
                <img 
                    src="img/slides/flexslider/slider4.png" alt="" />
                <div class="flex-caption">
                    <h3>Servicio de Empacado</h3> 
                    <p>Contamos con servicio de empacado y tambien podemos conseguir cajas para tu mayor comodidad.</p> 
                    <a href="#" th:href="/nuestros-servicios" class="btn btn-theme">Nuestros Servicios</a>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>	
	</section>
	
	<section class="callaction">
	<div class="container">
		<div class="row">
                    <div class="col-lg-8">
                            <div class="cta-text">
                                    <h2>Pulsa el Bot&oacute;n para <span>Cotizar</span> tu Mudanza Ahora Mismo.</h2>
                                    <!--<p> Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum</p>-->
                            </div>
                    </div>
                    <div class="col-lg-4">
                            <div class="cta-btn">
                                    <a style="background:#d9232d" th:href="${@environment.getProperty('com.mudanzapadrino.web.hostname')} + 'cotizacion' " class="btn btn-theme btn-lg">Cotizaci&oacute;n
                                       <i class="fa fa-angle-right"></i>
                                    </a>
                            </div>
                    </div>	
		</div>
	</div>
	</section>
	
	<section id="content">
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
                                <h2>Rapidez, Calidad y Confianza al Mejor Precio.</h2>					
                                <p>Entendemos lo dificil que es enviarles cosas a tus seres queridos que estan lejos, sabemos tambi&eacute;n que es dif&iacute;cil llevarte todas tus cosas a otro lugar.
                                En <span >Mudanzas El Padrino</span> queremos ayudarte para que tu no te preocupes de enviarle todo lo que quieras a esos seres queridos que estan lejos,
                                o cambiarte de lugar cuantas veces quieras. tenemos ya muchos años de experiencia que nos avalan y nos comprometemos con darte el mejor servicio, de la mejor calidad que cumpla
                                con tus necesidades y sobre todo al mejor precio.
                                </p>
                        </div>
			</div>		
		</div>
		</div>
		
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box">
							<div class="aligncenter">								
								<div class="icon">
								<i class="fa fa-truck fa-5x"></i>
								</div>
								<h4>Cotizaci&oacute;n a Domicilio sin Compromiso</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box">
							<div class="aligncenter">								
								<div class="icon">
								<i class="fa fa-ambulance fa-5x"></i>
								</div>
								<h4>Servicio Asegurado</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box">
							<div class="aligncenter">								
								<div class="icon">
								<i class="fa fa-cube fa-5x"></i>
								</div>
								<h4>Empacado a Detalle</h4>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="box">
							<div class="aligncenter">								
								<div class="icon">
								<i class="fa fa-dollar fa-5x"></i>
								</div>
								<h4>Precios Accesibles</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		
		<!-- divider -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		</div>
		<!-- end divider -->
		
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-sm-6 col-lg-6">
						<h4>Misi&oacute;n</h4>
						<p><strong>Proveer el Mejor Servicio de Logistica y de Mudanza del Pa&iacute;s</strong></p>
						<p>
						Utilizamos nuestros años de experiencia en el ramo de logistica para llevar tus pertenencias
                                                de un lugar a otro dentro y fuera del pa&iacute;s, sin que tengas que preocuparte por los tr&aacute;mites 
                                                engorrosos como menajes, aduana, etc.
                                                Con la seguirdad que va a llegar todo bien empacado y en buen estado, con precios competitivos
                                                que estan al alcance de todos.
                                                
                                                Nos preocupamos por contar con la mejor infraestructura y transportes para brindar as&iacute; un servicio
                                                r&aacute;pido, eficaz y sobretodo con mexicanos trabajadores.
						</p>
					</div>
					<div class="col-sm-6 col-lg-6">
						<h4>Visi&oacute;n</h4>
						<p><strong>La Mejor Empresa Mexicana de servicios de log&iacute;stica de America del Norte</strong></p>
						<p>
						tenemos bien definido que el mejor servicio con la mejor calidad es lo menos que debemos de otorgar a nuestros clientes,
                        sin embargo, hacemos incapie en promover los valores como la honradez y la confianza para nuestros clientes y empleados,
                        trabajando en conjunto como una sola fuerza que no escatima en los detalles en cuanto a log&iacute;stica se refiere.                        
						</p>
					</div>
				</div>
			</div>
		</div>
		</div>
		
		
	<!-- parallax  -->
	{{!-- <div id="parallax1" class="parallax text-light text-center marginbot50" data-stellar-background-ratio="0.5">	
           <div class="container">
				<div class="row appear stats">
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center color-white txt-shadow">
							<div class="icon">
								<i class="fa fa-clock-o fa-5x"></i>
							</div>
						<strong id="counter-coffee" class="number">1232</strong><br />
						<span class="text">Minutes</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center color-white txt-shadow">
							<div class="icon">
								<i class="fa fa-music fa-5x"></i>
							</div>
						<strong id="counter-music" class="number">345</strong><br />
						<span class="text">MP3 Songs</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center color-white txt-shadow">
							<div class="icon">
								<i class="fa fa-coffee fa-5x"></i>
							</div>
						<strong id="counter-clock" class="number">501</strong><br />
						<span class="text">Coffee Cups</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center color-white txt-shadow">
							<div class="icon">
								<i class="fa fa-trophy fa-5x"></i>
							</div>
						<strong id="counter-heart" class="number">378</strong><br />
						<span class="text">Awwards</span>
						</div>
					</div>
				</div>
            </div>
	</div>	  --}}
	
		{{!-- <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<h4>Testimonials</h4>
						<div class="testimonialslide clearfix flexslider">
							<ul class="slides">
								<li><blockquote>
								Usu ei porro deleniti similique, per no consetetur necessitatibus. Ut sed augue docendi alienum, ex oblique scaevola inciderint pri, unum movet cu cum. Et cum impedit epicuri
									</blockquote>
									<h4>Daniel Dan <span>&#8213; MA System</span></h4> 
								</li>
								<li><blockquote>
								Usu ei porro deleniti similique, per no consetetur necessitatibus. Ut sed augue docendi alienum, ex oblique scaevola inciderint pri, unum movet cu cum. Et cum impedit epicuri 
									</blockquote>
									<h4>Mark Wellbeck <span>&#8213; AC Software </span></h4>
								</li>	
							</ul>
						</div>					
					</div>	
					<div class="col-sm-6 col-lg-6">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#one" data-toggle="tab"><i class="icon-briefcase"></i> One</a></li>
							<li><a href="#two" data-toggle="tab">Two</a></li>
							<li><a href="#three" data-toggle="tab">Three</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="one">
								<p><img src="img/dummy1.jpg" class="pull-left" alt="" />
									<strong>Augue iriure</strong> dolorum per ex, ne iisque ornatus veritus duo. Ex nobis integre lucilius sit, pri ea falli ludus appareat. Eum quodsi fuisset id, nostro patrioque qui id. Nominati eloquentiam in mea.
								</p>
								<p>
									 No eum sanctus vituperata reformidans, dicant abhorreant ut pro. Duo id enim iisque praesent, amet intellegat per et, solet referrentur eum et.
								</p>
							</div>
							<div class="tab-pane" id="two">
								<p><img src="img/dummy1.jpg" class="pull-right" alt="" />
									 Tale dolor mea ex, te enim assum suscipit cum, vix aliquid omittantur in. Duo eu cibo dolorum menandri, nam sumo dicit admodum ei. Ne mazim commune honestatis cum, mentitum phaedrum sit et.
								</p>
								<p>Lorem ipsum dolor sit amet, vel laoreet pertinacia at, nam ea ornatus ocurreret gubergren. Per facete graecis eu.</p>
							</div>
							<div class="tab-pane" id="three">
								<p>Lorem ipsum dolor sit amet, vel laoreet pertinacia at, nam ea ornatus ocurreret gubergren. Per facete graecis eu. </p>
								<p>
									 Cu cum commodo regione definiebas. Cum ea eros laboramus, audire deseruisse his at, munere aeterno ut quo. Et ius doming causae philosophia, vitae bonorum intellegat usu cu.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>	 --}}
		
		<!-- divider -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		</div>
		<!-- end divider -->
	
		<!-- Portfolio Projects -->
		{{!-- <div class="container marginbot50">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">Recent Works</h4>

				<div id="filters-container" class="cbp-l-filters-button">
					<div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All<div class="cbp-filter-counter"></div></div>
					<div data-filter=".identity" class="cbp-filter-item">Identity<div class="cbp-filter-counter"></div></div>
					<div data-filter=".web-design" class="cbp-filter-item">Web Design<div class="cbp-filter-counter"></div></div>
					<div data-filter=".graphic" class="cbp-filter-item">Graphic<div class="cbp-filter-counter"></div></div>
					<div data-filter=".logo" class="cbp-filter-item">Logo<div class="cbp-filter-counter"></div></div>
				</div>
				

				<div id="grid-container" class="cbp-l-grid-projects">
					<ul>
						<li class="cbp-item graphic">
							<div class="cbp-caption">
								<div class="cbp-caption-defaultWrap">
									<img src="img/works/1.jpg" alt="" />
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<a href="img/works/1big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-l-grid-projects-title">Dashboard</div>
							<div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>
						</li>
						<li class="cbp-item web-design logo">
							<div class="cbp-caption">
								<div class="cbp-caption-defaultWrap">
									<img src="img/works/2.jpg" alt="" />
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											<a href="img/works/2big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-l-grid-projects-title">World Clock Widget</div>
							<div class="cbp-l-grid-projects-desc">Logo / Web Design</div>
						</li>
						<li class="cbp-item graphic logo">
							<div class="cbp-caption">
								<div class="cbp-caption-defaultWrap">
									<img src="img/works/3.jpg" alt="" />
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
										
											<a href="http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="To-Do Dashboard<br>by Tiberiu Neamu">view video</a>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-l-grid-projects-title">To-Do Dashboard</div>
							<div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
						</li>
						<li class="cbp-item web-design graphic">
							<div class="cbp-caption">
								<div class="cbp-caption-defaultWrap">
									<img src="img/works/4.jpg" alt="" />
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
										
											<a href="img/works/4big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Events and  More<br>by Tiberiu Neamu">view larger</a>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-l-grid-projects-title">Events and More</div>
							<div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>
						</li>
						<li class="cbp-item identity web-design">
							<div class="cbp-caption">
								<div class="cbp-caption-defaultWrap">
									<img src="img/works/5.jpg" alt="" />
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											
											<a href="img/works/5big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="WhereTO App<br>by Tiberiu Neamu">view larger</a>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-l-grid-projects-title">WhereTO App</div>
							<div class="cbp-l-grid-projects-desc">Web Design / Identity</div>
						</li>
						<li class="cbp-item identity web-design">
							<div class="cbp-caption">
								<div class="cbp-caption-defaultWrap">
									<img src="img/works/6.jpg" alt="" />
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
											
											<a href="img/works/6big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Ski * Buddy<br>by Tiberiu Neamu">view larger</a>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-l-grid-projects-title">Ski * Buddy</div>
							<div class="cbp-l-grid-projects-desc">Identity / Web Design</div>
						</li>
						<li class="cbp-item graphic logo">
							<div class="cbp-caption">
								<div class="cbp-caption-defaultWrap">
									<img src="img/works/7.jpg" alt="" />
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
										
											<a href="img/works/7big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">view larger</a>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-l-grid-projects-title">Seemple* Music for iPad</div>
							<div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
						</li>
						<li class="cbp-item graphic logo">
							<div class="cbp-caption">
								<div class="cbp-caption-defaultWrap">
									<img src="img/works/8.jpg" alt="" />
								</div>
								<div class="cbp-caption-activeWrap">
									<div class="cbp-l-caption-alignCenter">
										<div class="cbp-l-caption-body">
										
											<a href="img/works/8big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">view larger</a>
										</div>
									</div>
								</div>
							</div>
							<div class="cbp-l-grid-projects-title">Seemple* Music for iPad</div>
							<div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
						</li>
					</ul>
				</div>
				
				<div class="cbp-l-loadMore-button">
					<a href="ajax/loadMore.html" class="cbp-l-loadMore-button-link">LOAD MORE</a>
				</div>

			</div>
		</div>
		</div> --}}
		
		
		<!-- divider -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		</div>
		<!-- end divider -->
		
	</section>
	
	{{> site_footer}}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="plugins/flexslider/jquery.flexslider-min.js"></script> 
<script src="plugins/flexslider/flexslider.config.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/stellar.js"></script>
<script src="js/classie.js"></script>
<script src="js/uisearch.js"></script>
<script src="js/jquery.cubeportfolio.min.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>

	
</body>
</html>
</script>