<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/plugins/flexslider/jquery.flexslider-min.js"></script> 
<script src="/plugins/flexslider/flexslider.config.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/stellar.js"></script>
<script src="/js/classie.js"></script>
{{!-- <script src="/js/uisearch.js"></script> --}}
<script src="/js/jquery.cubeportfolio.min.js"></script>
<script src="/js/google-code-prettify/prettify.js"></script>
<script src="/js/animate.js"></script>
{{!-- <script src="/js/custom.js"></script> --}}