
<header>
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<ul class="topleft-info">
								<li><i class="fa fa-phone"></i> (664) 646 69 05 </li>
								<li><i class="fa fa-phone"></i> (664) 463 07 00 </li>
								<li><i class="fa fa-phone"></i> (664) 794 32 46 </li>
							</ul>
						</div>
						<div class="col-md-6">
						<div  class="sb-search sb-search-open">
                            <form method="get" id="service-search-form" action="/servicios/busqueda" >
                                <input  class="sb-search-input"
                                        placeholder="N&uacute;mero de Servicio" 
                                        type="text" value="" 
                                        name="serviceNumber" id="serviceNumber" />
                                <input class="sb-search-submit" type="submit" value="" />
                                <span style="background:#d9232d" class="sb-icon-search" title="Da Seguimiento a tu Servicio"></span>
                            </form>
						</div>


						</div>
					</div>
				</div>
			</div>	
			
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"  href="/inicio">
                            <img src="/img/padrinomudanzalogo_RED.png" alt="" width="199" height="52" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li><a  href="/cotizacion">Cotiza Tu Mudanza</a></li>
                            <li><a  href="/servicios">Servicios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</header>